formatdb.log
Gemfile.lock
*logfile
notes.md
.ruby-*

my_bin
old_assets
zh_test_files
assets/for_entropy

.DS_Store

test_files/full_and_part_output

*log*

test_files/both_out/
diffout
lib/old_zh_code.rb

SPIFFY_TEST
TEST_OUTDIR
lala.rb
